@font-face {
  font-family: proj;
  src: url(./63cffc0a3942456e003bc265_Chillax-Regular.woff);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
 
}
html{
  color: white;
  font-weight:50;
  font-size:clamp(14px, 15vw ,18px)
}
body{
    background-color: black;
}

@mixin flex-Column($gap:0){
         display: flex;
         flex-direction: column;
         gap: $gap;
}
section{
  max-width: 2000px;
}

main{
  width: 100%;
  align-items: center;
  @include flex-Column(0rem);
 
      section.view-1{
         width: 100%;
         padding: 1rem;
         @include flex-Column(2rem);

         .top{
          width: 100%;
       
         img{
          width: 100%;
          border-radius: 10px;
         }
      }
      .bottom{
        background-color: #1E1E1E;
        border-radius: 10px; 
        padding: 1.5rem;
        @include flex-Column(1.5rem); 
        p{
          font-family: proj;
          font-weight: 100;
              }

         .text{
          @include flex-Column(0.7rem);

          h1{
            font-weight: 100;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-family: proj;
          
  
          }
          p{
            font-size: 1.2rem;
            font-weight: 100;
            opacity: 0.5;
            line-height: 1.7;
            font-family: proj;    
          }

          button{
            width: fit-content;
            border: none;
            padding: 0.7rem 1rem;
            outline: none;
            font-size: 1rem;
            border-radius: 0.5rem;
          }

         }
      }


  }

      section.view-2{
        width: 100%;
        @include flex-Column(2rem);
        padding: 1rem;
        font-family: proj;

        small{
          opacity: 0.5;
        }
      
        .top,.bottom{
          display: flex;
          width: 100%;
          justify-content: space-around;

          .element{
            text-align: center;
            @include flex-Column(0.5rem);
            h2{
              font-size: 3rem;
              font-weight: 300;
            }
          }
        }
      }

      section.view-3{
        @include flex-Column(2rem);
        padding: 1rem;
        width: 100%;
        gap: 0.7rem;
        font-family: proj;

        img{
          width: 100%;
          border-radius: 10px;
        }

        .bottom{
          background-color: #1E1E1E;
          border-radius: 10px;
          padding: 1.5rem;
          @include flex-Column(1.5rem);

          .text{
            @include flex-Column(0.7rem);

          h1{
            font-weight: 300;
            font-size: 2rem;
            text-transform: uppercase;
            font-family: proj;
          }
          .paragraph{
            font-weight: 100;
            opacity: 0.5;
            p{
              line-height: 1.5rem;
            }
          }
          }
        }
        .bottom>p{
          text-transform: uppercase;
          gap: 9rem;
        }

      }







      section.view-5{
       @include flex-Column(2rem);
        width: 100%;  
        .card{
            width: 100%;
            background-image: url(./card1.webp);
            background-size: cover;
            aspect-ratio: 1/1;
            padding: 1rem;
            border-radius: 0.7rem;
            @include flex-Column(0rem);
            justify-content: space-between;
            padding: 1rem;
             

            .icon,.bottom{
              justify-content: space-between;
              background-color: rgba(156, 155, 155, 0.169);
              backdrop-filter: blur(5px);
              border-radius: 0.8rem;
              border: 1px solid rgb(161, 157, 157);
             }
              .top{
                display: flex;
                justify-content: flex-end;
                gap: 0.5rem;
              }
              .icon{
                width: fit-content;
                border-radius: 50%;
              }
              .bottom{
                display: flex;
                justify-content: space-between;
                padding: 1.2rem 1rem;

                p{
                  text-transform: uppercase;
                }
              }
            
          }
      }

}



@media (min-width:900px){
  main{
    section.view-1{
      flex-direction: row;
      
      .top, .bottom{
        width: 50%;
      }

      .bottom{
        justify-content: space-between;
        padding: 2rem;
      
      .text{
        gap: 1.5rem;
        h1{
          font-size: 3.5rem;
        }
        p{
          width: 60%;
          font-size: 1rem
        };
      }
      }
    }
    section.view-2{

      flex-direction: row;
      padding: 3rem 4rem;

    }
    section.view-3{
       flex-direction: row-reverse;

       .top,.bottom{
        width: 50%;
        gap: 5rem;
       }
       .bottom{
        justify-content: space-between;
         padding: 6rem;
         .text{
          h1{
            font-size: 3.5rem;
          }
         }

        .paragraph{
          display: flex;
          gap: 2rem;
          p{
            line-height: 4;
            font-size: 1.2rem;
            
          }
        }
       }
    }







    section.view-5{
      flex-direction: row;
      padding: 1rem 1rem;

    }
  }
}