*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html ,body{
  height: 100%;
  width: 100%;
}
/* main{
  height:
   100%;
  width: 100%;

}
#box{
  height: 30vmin;
  width: 30vmin;
  background-color: crimson;
}
h1{ */
  /* font-size: 5vmax; */
  /*font-size: 5vmin;
  color: white;
} */



.parent{
  background-color: darkmagenta;
  width: 50%;
  margin: 30px;
  padding: 30px;
  font-size: 30px;
  border-radius:2vmax;
}
h2{
  font-size: 1em;
}
h4{
    font-size: 2em;

}
h6{
  font-size: 3em;
}
p{
  font-size: 0.5em
}